.my_index2_div{
  position: relative;
}
.my_index2_background{
  background:url(../img/26.png) no-repeat center;
  background-size:cover;
  color:#fff;
}
.my_index2_div_div{
  display: flex;
  flex-direction:column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.my_index2_div_div>p,.my_index2_div_div>h1{
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.my_index2_div_div>p{
  line-height: 1.2;
  font-weight: 400;
}
.my_index2_div_div>h1{
  margin:0;
  line-height: 1;
  font-weight: 700;
}
.my_index2_ul{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  list-style: none;
  background-color: #000;
}
.my_index2_ul-item::after {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  content: "/";
}
.my_index2_font-size{
  font-weight: bold;
  font-size: 1.1rem;
}
.my_index2_div1,.my_index2_div3,.my_index2_div5{
  background-color: #f5f5f5;
  width: 100%;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  min-height: 1px;
}
.my_index2_kuai1{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
}
.my_index2_div1_div1{
  padding:30px;
  width:100%;
}
.my_index2_div1_div1>h2{
  margin:0;
  font-size: 1.56rem;
  line-height: 1.2;
  font-weight: 700;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.my_index2_div1_div2_div1_div1,.my_index2_div1_div2_div2_div1,.my_index2_div1_div2_div3_div1{
  width:100%;
  padding:30px;
  box-sizing:border-box;
}
.my_index2_imgs{
  width:33.333%;
}
.my_index2_div1_div2_div1_div1>h3,.my_index2_div1_div2_div2_div1>h3,.my_index2_div1_div2_div3_div1>h3{
  margin: 0;
  font-size: 1.11rem;
  font-weight: 700;
}
.my_index2_div1_div2_div1_div2,.my_index2_div1_div2_div2_div2,.my_index2_div1_div2_div3_div2{
  position: relative;
  order:-1;
  width:100%;
  box-sizing:border-box;
}
.my_index2_div1_div2_img,.my_index2_div1_div2_img,.my_index2_div1_div2_img{
  height:350px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.my_index2_div1_div2_img>img,.my_index2_div1_div2_img>img,.my_index2_div1_div2_img>img{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  vertical-align: top;
}
.my_index2_div1_div2_div1_div3,.my_index2_div1_div2_div2_div3,.my_index2_div1_div2_div3_div3{
  padding: 0 30px 30px;
  -webkit-box-flex: 20;
  flex: 20 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
}
.my_index2_div1_div2_div1_div3>p,.my_index2_div1_div2_div2_div3>p,.my_index2_div1_div2_div3_div3>p{
  margin: 0;
  line-height: 1.4;
  font-size: 1.1rem;
}
.my_index2_div2,.my_index2_div4{
  background-color: #ebebeb;
  width: 100%;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  min-height: 1px;
}
.my_index2_background1{
  background:url(../img/64.png) no-repeat center;
  background-size:cover;
  color:#fff;
  min-height: 350px;
}
.my_index2_div3_div1>h1{
  font-size: 3.56rem;
  margin:0;
  line-height: 1.4;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
}
.my_index2_div3::after,.my_index2_div4_after::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-color: rgba(0,0,0,.5);
}.my_index2_annui1
.my_index2_annui{
  padding: 0 30px 30px;
}
.my_index2_annui_a{
  color: #000;
  display: inline-block;
  background: url(../img/35.png) no-repeat right 20px center;
  transition: .5s background-position;
  padding: 10px 60px 10px 13px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: 2px solid #fff;
}
.my_index2_annui_a:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/36.png) no-repeat right 10px center;
  background-color: #fff;
  transition: .5s background-position;
  font-size: 1.1rem;
}
.my_index2_div4_div1_div1{
  background: #000 url(../img/60.png) no-repeat center center
}
.my_index2_div4_div1_div2{
  background:#272727
}
.my_index2_div4_div1_div3{
  background:#1e1e1e
}
.my_index2_div4_div2_div1{
  background:#1e1e1e
}
.my_index2_div4_div2_div2{
  background:url(../img/61.png) no-repeat center center
}
.my_index2_div4_div2_div3{
  background:url(../img/62.png) no-repeat center center
}
.my_index2_padding3,.my_index2_padding4{
  padding:30px;
  box-sizing: border-box;
  -webkit-box-flex: 20;
  flex: 20 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.my_index2_padding3>h3{
  line-height: 1;
  font-size: 3.88rem;
  font-weight: 100;
  margin:0;
}
.my_index2_padding3>p{
  margin:20px 0 0;
}
.my_index2_zhedei{
  display: none;
  text-align: center;
}
.my_index2_zhedei>button{
  color: #000;
  display: inline-block;
  background:#fff url(../img/43.png) no-repeat right 20px center;
  padding: 10px 50px 10px 13px;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 100%;
  border: 2px solid #000;
}
.my_index2_zhedei>button:hover{
  color: #f50f10 ;
  background:#fff url(../img/44.png) no-repeat right 20px center;
  font-size: 100%;
  border: 2px solid #fff;
}
.my_index2_div5_div1_div1{
  background:url(../img/68.png) no-repeat center center;
}
.my_index2_div5_div1_div2{
  background:url(../img/70.png) no-repeat center center;
}
.my_index2_div5_div1_div3{
  background:url(../img/67.png) no-repeat center center;
}
.my_index2_div5_div2_div1{
  background:url(../img/69.png) no-repeat center center;
}
.my_index2_div5_div2_div2{
  background:url(../img/66.png) no-repeat center center;
}
.my_index2_div5_div2_div3{
  background:url(../img/65.png) no-repeat center center;
}
.my_index2_padding4>h3{
  line-height: 1.4;
  font-size: 1.11rem;
  font-weight: 700;
  margin:0;
}
.my_index2_padding4>p{
  margin:20px 0 0;
  font-size: 1.11rem;
}
.my_index2_annui1{
  padding: 30px;
}
.my_index2_annui1_a{
  color: #000;
  display: inline-block;
  background: url(../img/59.png) no-repeat right 20px center;
  padding: 10px 50px 10px 13px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 100%;
  border: 2px solid #000;
}
.my_index2_annui1_a:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/48.png) no-repeat right 20px center;
  background-color: #fff;
  font-size: 100%;
  border: 2px solid #fff;
}
.my_index2_annui2_a{
  color: #000;
  display: inline-block;
  background: url(../img/58.png) no-repeat right 20px center;
  padding: 10px 50px 10px 13px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 100%;
  border: 2px solid #000;
}
.my_index2_annui2_a:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/41.png) no-repeat right 20px center;
  background-color: #fff;
  font-size: 100%;
  border: 2px solid #fff;
}