.my_index_justify_content{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.my_index_h1{
  line-height: 1;
  font-weight: 700;
  color:#fff;
  text-align: center;
}
.my_index_div{
  color: #000;
  text-align: center;
  margin-top: 20px;
  font-size: 1.22rem;
  width: 100%;
}
.my_index_div_a{
  color: #000;
  display: inline-block;
  background: url(../img/35.png) no-repeat right 20px center;
  transition: .5s background-position;
  margin: 20px 0 0;
  padding: 10px 60px 10px 13px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
}
.my_index_div_a:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/36.png) no-repeat right 10px center;
  background-size: 36px auto;
  background-color: #fff;
  transition: .5s background-position;
}
.my_index_1{
  min-height: 350px;
  background: url(../img/32.png) no-repeat;
  display: flex;
  flex-direction:column-reverse;
}
.my_index_2{
  min-height: 350px;
  background: url(../img/9.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction:column-reverse;
}
.my_index_3{
  min-height: 350px;
  background: url(../img/8.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}
.my_index_div_1{
  padding:30px;
  color:#fff;
}
.my_index_annui_h1{
  font-size:2rem;
  text-shadow: 0 0 15px rgba(0,0,0,.8);
  line-height: 1.2;
  font-weight: 700;
}
.my_index_annui_h5{
  line-height: 1.2;
  font-weight: 700;
}
.my_index_4{
  min-height: 350px;
  background: url(../img/7.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction:column-reverse;
}
.my_index_5{
  min-height: 350px;
  background: url(../img/6.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}
.my_index_annui{
  padding: 30px;
  text-align: center;
}
.my_index_annui_a{
  padding: 10px 50px 10px 13px;
  color: #000;
  background-color: #fff;
  display: inline-block;
  border: 2px solid #fff;
  background:#fff url(../img/2.png) no-repeat right 10px center;
  font-weight:bolder;
  font-size: 1.1rem;
}
.my_index_annui_a:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: #fff url(../img/41.png) no-repeat right 10px center;
  font-size: 1.1rem;
}
.my_index_annui_1{
  padding: 0 30px 30px;
}
.my_index_annui_a_1{
  padding: 10px 50px 10px 13px;
  color: #000;
  display: inline-block;
  border: 2px solid #fff;
  background:#fff url(../img/2.png) no-repeat right 10px center;
  font-weight:bolder;
  font-size: 1.1rem;
}
.my_index_annui_a_1:hover{
  color: #f50f10 !important;
  text-decoration:none;
  border: 2px solid #fff;
  background: #fff url(../img/41.png) no-repeat right 10px center;
  font-size: 1.1rem;
}
.my_index_annui_a_2{
  color: #000;
  display: inline-block;
  background: url(../img/35.png) no-repeat right 20px center;
  transition: .5s background-position;
  padding: 10px 60px 10px 13px;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: 2px solid #fff;
}
.my_index_annui_a_2:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/36.png) no-repeat right 10px center;
  background-color: #fff;
  transition: .5s background-position;
  font-size: 1.1rem;
}
.my_index_div_dangan{
  color: #000;
  display: inline-block;
  background: #f5f5f5 url(../img/35.png) no-repeat right 20px center;
  transition: .5s background-position;
  margin: 20px 0 0;
  padding: 10px 60px 10px 13px;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #000;
  font-size: 1.1rem;
}
.my_index_div_dangan:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: #fff url(../img/36.png) no-repeat right 10px center;
  background-size: 36px auto;
  transition: .5s background-position;
  border: 2px solid #fff;
}
.my_index_div_dangan1{
  color: #000;
  display: inline-block;
  background: #ebebeb url(../img/35.png) no-repeat right 20px center;
  transition: .5s background-position;
  margin: 20px 0 0;
  padding: 10px 60px 10px 13px;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #000;
  font-size: 1.1rem;
}
.my_index_div_dangan1:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: #fff url(../img/36.png) no-repeat right 10px center;
  transition: .5s background-position;
  border: 2px solid #fff;
}
.my_index_div_dangan2{
  color: #000;
  display: inline-block;
  background: #f5f5f5 url(../img/35.png) no-repeat right 20px center;
  transition: .5s background-position;
  padding: 10px 60px 10px 13px;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #000;
  font-size: 1.1rem;
}
.my_index_div_dangan2:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: #fff url(../img/36.png) no-repeat right 10px center;
  transition: .5s background-position;
  border: 2px solid #fff;
}
.my_index_ul_li{
  color: #000;
  display: inline-block;
  background: url(../img/34.png) no-repeat left 3px center;
  text-decoration: none;
  box-sizing: border-box;
  margin: 15px 0 0;
  padding: 0 0 0 30px;
}
.my_index_ul_li:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/45.png) no-repeat left 3px center;
}
.my_index_ul_li1{
  color: #000;
  display: inline-block;
  background: url(../img/33.png) no-repeat left 3px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 15px 0 0;
  padding: 0 0 0 30px;
}
.my_index_ul_li1:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/48.png) no-repeat left 3px;
}
.my_index_ul_li2{
  color: #000;
  display: inline-block;
  background: url(../img/2.png) no-repeat left 3px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 15px 0 0;
  padding: 0 0 0 30px;
}
.my_index_ul_li2:hover{
  color: #f50f10 !important;
  text-decoration:none;
  background: url(../img/41.png) no-repeat left 3px;
}
.p-30-30-10{
  margin:0;
  padding:30px 30px 10px;
}
.my_dark{
  background: #2d2d2d;
  color: #fff;
}
.my_p1{
  padding:30px;
  background:#f5f5f5;
  color:#000;
}
.my_p{
  padding:0 30px 30px;
}
.my_index_p{
  padding:30px;
}
.my_index_mt{
  margin-top:20px;
}
.my_p2{
  padding:30px;
  background:#ebebeb;
  color:#000;
}
.my_p3{
  background:#f5f5f5;
  color:#000;
}
.my_mp{
  margin: 15px 0 0;
  padding: 0 0 0 30px;
}
.my_mb{
  margin: 0 0 15px;
  line-height: 1.2;
  font-size: 1rem;
}
.my_mb{
  line-height: 1.2;
  font-size: 1rem;
}
.my_m_top{
  margin-top:30px;
}
.my_pf{
  padding: 20px 30px 60px;
  box-sizing: border-box;
  color: #fff;
}
.my_fs{
  font-size: 45px;
}
.my_background-image{
  background-image:url();
}
.my_height{
  height:350px;
}
.my_wh{
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 26px;
  height: 26px;
}
.my_wh{
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 26px;
  height: 26px;
}
.my_position{
  float:right;
}
.my_display{
  display: inline-block;
}
.my_index_background:after{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: '';
}
.my_index_tanta:after{
  display: block;
  content: '';
  clear:both;
}
