.my_index_h1{
  line-height: 1;
  font-weight: 700;
  color:#fff;
  text-align: center;
  background: url(../img/5.png) no-repeat center;
  background-size:cover;
}
.p-30-30-10{
  margin:0;
  padding:30px 30px 10px;
}
.my_dark{
  background: #2d2d2d;
  color: #fff;
}
.my_p1{
  padding:30px;
  background:#f5f5f5;
  color:#000;
}
.my_p{
  padding:0 30px 30px;
}
.my_index_p{
  padding:30px;
}
.my_index_mt{
  margin-top:20px;
}
.my_p2{
  padding:30px;
  background:#ebebeb;
  color:#000;
}
.my_p3{
  background:#f5f5f5;
  color:#000;
}
.my_a_dt{
  display: inline-block;
  padding-right: 60px;
  background: url(img/35.png);
  background-size: 36px auto;
  transition: .3s background-position;
}
.my_a_m{
  margin: 20px 0 0;
  padding: 10px 60px 10px 10px;
  border: solid 2px #000;
  display: table;
  color: #000;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.my_a_m1{
  padding: 10px 60px 10px 10px;
  border: solid 2px #000;
  display: table;
  color: #000;
  background-color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.my_mp{
  margin: 15px 0 0;
  padding: 0 0 0 30px;
}
.my_mb{
  margin-bottom: 15px;
}
.my_m_top{
  margin-top:30px;
}
.my_pf{
  padding: 20px 30px 60px;
  box-sizing: border-box;
  color: #fff;
}
.my_pb{
  margin: 0 0 15px;
}
.my_fs{
  font-size: 45px;
}
.my_background-image{
  background-image:url();
}
.my_height{
  height:350px;
}
.my_wh{
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 26px;
  height: 26px;
}
.my_wh{
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 26px;
  height: 26px;
}
.my_relative{
  position: relative;
}
.my_position{
  margin-right:0;
}
.my_display{
  display: inline-block;
}
.my_index_background::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: '';
}